.minibox{
    position: relative;
    width: 100px;
    height: 100px;
}

.minibox div:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 30%;
    background-color: silver;
}

.minibox div:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 70%;
    background-color: gold;
}

.minibox div:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 30%;
    background-color: aquamarine;
}

.minibox .box:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 70%;
    background-color: crimson;
}

main{
    background-color: white;
    position: relative;
    top: 100px;
    border: 1px solid black;
    width: 80%;
    margin: auto;
    height: 2000px;
}

header{
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: forestgreen;
    z-index: 1;
}

header .minibox:first-child{
    position: absolute;
    left: 0px;
    top: 0px;
}

header .minibox:last-child{
    position: absolute;
    right: 0px;
    top: 0px;
}

.boxbar{
    position: absolute;
    top: 500px;
}

.boxbar .minibox{
    position: sticky;
    top: 200px;
}